:root {
  --cor-base: #fff;
  --verde: #2f9e41;
  --verde-texto: #027a00;
  --cinza: #c0c0c0;
}

* {
  border: 0 none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.material-icons {
  font-family: "Material Icons";
  font-size: larger;
  padding-left: 0.5em;
  display: flex;
}
body {
  display: block;
  margin: auto;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header #logo-e-nome {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10%;
  padding: 18px 0px 24.5px 0px;
}

header #logo-e-nome p {
  width: 30%;
}
header #primeira-linha {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header #barra-pesquisa {
  margin-top: 1.5%;
}
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5%;
}
.description {
  display: flex;
  flex-direction: row;
  text-align: justify;
  padding: 5%;
}

main {
  display: flex;
  flex-direction: column;
}
.description-paragraph {
  padding: 2.5%;
  border-left: 5px solid #2f9e41;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}
.details {
  padding: 2%;
  margin-left: 2%;
  margin-left: 2.5%;
  display: flex;
  border-left: 5px solid #2f9e41;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}
.row1-details {
  display: flex;
  align-content: center;
}
.row2-details {
  display: flex;
  align-content: center;
}
dd {
  padding-left: 2em;
}
.campus {
  margin: -1%;
  font-size: 1.25rem;
  line-height: 1em;
  padding: 0.35rem 0.75rem;
  border-radius: 25px;
  background-color: #e0e0e0;
}
.campus-content {
  padding-left: 1%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  width: 25em;
  flex-wrap: wrap;
  gap: 0.5rem;
}
footer {
  display: flex;
  flex-direction: column;
  position: static;
  margin-top: 10%;
}
